pkgbase = lyrical-sync
	pkgdesc = Desktop app for creating, syncing, and editing .lrc lyric files
	pkgver = 0.6.1
	pkgrel = 1
	url = https://github.com/AHRI2nd/Lyrical-Sync
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	depends = cairo
	depends = dbus
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = openssl
	depends = webkit2gtk-4.1
	options = !lto
	source = lyrical-sync-0.6.1.tar.gz::https://github.com/AHRI2nd/Lyrical-Sync/archive/refs/tags/v0.6.1.tar.gz
	source = linux-support.patch
	sha256sums = e9d5318a70944e0a19a0679fe93fd90c587f4dfc18a9231c547d346eddd7fad0
	sha256sums = 3434e24b982a2d5289067428d6c4e0aaaf45c57af4da7510765d2c120a3874fd

pkgname = lyrical-sync
